<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{master_template::site-head}">
    <title>Login Page</title>
</head>

<body>

<header th:replace="~{master_template::site-header}"></header>

<div class="container">

    <div class="row">
        <div class="col">

            <h1>Login page</h1>

            <form action="#"
                  th:action="@{/login}"
                  method="POST">
                <div>
                    <label for="email">Email</label>
                    <input id="email" type="text" name="email" placeholder="Email" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" placeholder="Password" />
                </div>
                <button type="submit">Login!</button>
            </form>

                <div class="form-group">
						<span>New user? <a href="/" th:href="@{/registration}">Register
								here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>


<footer th:replace="~{master_template::site-footer}"> </footer>

</body>
</html>